AddType text/plain .asc
ErrorDocument 404 /404.html

RewriteEngine On 
RewriteCond %{HTTPS} off 
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

Redirect /github https://github.com/kasesag
Redirect /twitter https://twitter.com/kasesag
Redirect /fediverse https://mstdn.social/@kasesag
Redirect /telegram https://t.me/kasesag