/* 
page.css
kasesag.me (c) All rights reserved
*/

.socials-info {
	margin-bottom: 0;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

.img {
	display: block;
	width: 100%;
}

.img-block {
	display: block;
	max-width: 100%;
}

.img2 {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
}

.img3 {
	display: inline-block;
	vertical-align: middle;
	width: 33.3%;
}

.img, .img2, .img3, .img-block {
	margin: 0.33em auto;
}

