<header id="header">
	<div id="header-main">
		<div id="profile-picture">
			<img src="/files/av1.png" title="Profile picture of kasesag used as a part of main title." alt="This is where the picture was supposed to load.">
		</div>
		<div id="main-title">
			<div class="title">{{ .Site.Params.header.MainTitle }}</div>
		</div>
	</div>

	<p>{{ .Site.Params.header.mainDescription }}</p>

	<div id="menu">
		<ul>
			{{ range .Site.Menus.nav }}
			<li><a href=" {{ .URL }}">{{ .Name }}</a></li>
			{{ end }}
		</ul>
	</div>
</header>